<div {{action 'invalidateSession' on='subumit'}}>
  {{#mdl-nav
    title='Fixed Drawer Example'
    fixedHeader=true
    mobileTitle='Fixed Drawer'}}
    {{#if session.isAuthenticated}}
      {{mdl-nav-item name='cocktails' route='cocktails' inHeader=false}}
      {{mdl-nav-item name='ingredients' route='ingredients' inHeader=false}}
      {{mdl-nav-item name='logout' route='logout' inHeader=false}}
    {{else}}
      {{mdl-nav-item name='login' route='login' inHeader=false}}
      {{mdl-nav-item name='sign up' route='login' inHeader=false}}
    {{/if}}
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        {{outlet}}
      </div>
    </div>
  {{/mdl-nav}}
</div>
