<div id="paper-wormhole"></div>
{{#paper-toolbar style="position:fixed"}}
<div class="md-toolbar-tools">
{{#paper-menu width=4 as |menu|}}
  {{#paper-button target=menu action="toggleMenu" icon-button=true}}
      {{paper-icon class="md-menu-origin" icon="more-vert"}}
  {{/paper-button}}
{{else}}
  {{#paper-menu-item}}
    <b>Menu</b>
  {{/paper-menu-item}}
  <md-divider></md-divider>
  {{#if session.isAuthenticated}}
    {{#paper-menu-item action="transitionTo" param="cocktails"}}
      {{paper-icon icon="local-bar" class="md-menu-align-target"}}
      <span>Cocktails</span>
    {{/paper-menu-item}}
    {{#paper-menu-item action="transitionTo" param="ingredients"}}
      {{paper-icon icon="check-box" class="md-menu-align-target"}}
      <span>Spirits</span>
    {{/paper-menu-item}}
    {{#paper-menu-item action="invalidateSession"}}
      {{paper-icon icon="remove-circle" class="md-menu-align-target"}}
      <span>Logout</span>
    {{/paper-menu-item}}
  {{else}}
    {{#paper-menu-item action="transitionTo" param="login"}}
      {{paper-icon icon="person" class="md-menu-align-target"}}
      <span>Login</span>
    {{/paper-menu-item}}
    {{#paper-menu-item action="transitionTo" param="signup"}}
      {{paper-icon icon="person-add" class="md-menu-align-target"}}
      <span>Signup</span>
    {{/paper-menu-item}}
  {{/if}}
  {{#paper-menu-item action="transitionTo"}}
    {{paper-icon icon="cancel" class="md-menu-align-target"}}
    <span>Cancel</span>
  {{/paper-menu-item}}
{{/paper-menu}}
  <span class="md-breadcrumb-page">
    <img src="images/white_logo.png" width=50 />&nbsp;&nbsp;
  </span>
  <h3>shakenXstirred</h3>
</div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
  <div class="c-notification__container">
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
  </div>
  {{outlet}}
{{/paper-content}}
