<h3>Signup</h3>
{{#paper-content}}
  <div class="container">
    {{paper-input label="Username" required=true required-errortext="Username is required" value=name}}
    {{paper-input label="Password" type="password" required=true  required-errortext="Password is required" value=password}}
    {{paper-input label="Password Confirmation" type="password" required=true  required-errortext="Please confirm your password" value=password_confirmation}}
    {{paper-input label="DOB" type="date" value=date}}
    {{#if name}}
      {{#if password}}
        {{#if password_confirmation}}
          {{#if date}}
            {{#paper-button raised=true action="create" param=true disabled=false}}Signup{{/paper-button}}
          {{else}}
            {{#paper-button raised=true action="create" param=true disabled=true}}Signup{{/paper-button}}
          {{/if}}
        {{else}}
          {{#paper-button raised=true action="create" param=true disabled=true}}Signup{{/paper-button}}
        {{/if}}
      {{else}}
        {{#paper-button raised=true action="create" param=true disabled=true}}Signup{{/paper-button}}
      {{/if}}
    {{else}}
      {{#paper-button raised=true action="create" param=true disabled=true}}Signup{{/paper-button}}
    {{/if}}
  </div>
{{/paper-content}}
